@model List<HotelsByContinent>

@if (Model != null)
{
    <div>
        <h2 class="fs-4">Locations around the world</h2>
        <div class="d-flex flex-column flex-md-row justify-content-around flex-wrap gap-2">
            @foreach (var continent in Model)
            {
                <div style="flex: 1">
                    <div class="position-relative">
                        <a asp-controller="Hotels" asp-action="Search" asp-route-searchterm="@continent.SearchTerm.ToLower()" class="text-decoration-none hotelCardLink">
                            <img src="@continent.img?s=600x" alt="hotel image" class="w-100 object-fit-cover rounded-1" style="height: 250px"  />
                         <div class="text-light rounded-1 position-absolute bottom-0 start-0 p-1 fw-semibold d-flex flex-column">
                            <span class="fs-1">@continent.Name</span>
                            <span class="fs-2">@continent.Count Locations</span>
                         </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}